{% extends 'layout.html' %}
{% block content %}
<nav>
  <ul>
    <li><a href=""><i class="fa-solid fa-right-to-bracket"></i> login</a></li>
    <li><a href=""><i class="fa-solid fa-cart-shopping"></i> shop</a></li>
    <li><a href=""><i class="fa-solid fa-address-book"></i> address</a></li>
    <li><a href=""><i class="fa-solid fa-money-check-dollar"></i> checkout</a></li>
  </ul>
</nav>
<form>
  <input placeholder="handle" type="text" value=""/>
  <input placeholder="pass" type="password" value=""/>
  <button><i class="fa-solid fa-plus"></i> Create</button>
</form>
{% endblock %}
